{{ define "main" }}

<section id="single">
    <h1 class="title">{{ .Title }}</h1>

    <div class="tip">
        <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "wordCount" . }}
        </span>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "minuteRead" . }}
        </span>
    </div>

    
    {{ if or .Site.Params.showToc .Params.showToc }}
        {{ partial "toc.html" . }}
    {{ end }}


    <div class="content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
    
    {{ partial "comment.html" . }}

    <div id="cusdis_thread"
      data-host="https://cusdis.com"
      data-app-id="1a71e7af-38d0-4788-8ec0-e2cd2f422a69"
      data-page-id="{{ .File.UniqueID }}"
      data-page-url="{{ .Permalink }}"
      data-page-title="{{ .Title }}"
    ></div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>


</section>

{{ end }}

