<nav class="navigation">
    {{ if not .IsHome }}
        <a href="{{ "/" | relLangURL }}"> <span class="arrow">← </span>{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</a>
    {{ end }}
    <a href="{{ "/about" | relLangURL }}">{{ with .Site.Params.about }}{{ . }}{{ else }}{{ i18n "about" }}{{ end }}</a>
    <a href="{{ "/posts" | relLangURL }}">{{ with .Site.Params.archive }}{{ . }}{{ else }}{{ i18n "archive" }}{{ end }}</a>
    <a href="{{ "/tags" | relLangURL }}">{{ with .Site.Params.tags }}{{ . }}{{ else }}{{ i18n "tags" }}{{ end }}</a>

    {{ range $element := .Site.Params.Links }}
        <a href="{{ $element.path }}">{{ $element.name }}</a>
    {{ end }}

    {{ range .Site.Languages }}
        {{ if ne .Lang $.Site.Language.Lang }}
			<a href="{{ $.Permalink | replaceRE (printf "^/%s" $.Site.Language.Lang) (printf "/%s" .Lang) }}" class="language-switch">
                {{ if eq .Lang "ko" }}🇰🇷 한국어{{ else }}🇺🇸 English{{ end }}
            </a>
        {{ end }}
    {{ end }}

    {{ if .Site.Params.enableRSS }}
        <a class="button" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}{{ i18n "subscribe" }}{{ end }}</a>
    {{ end }}
</nav>